<% include partials/header %>
<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Listagem <small>dos Clientes</small></h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                      <div class="x_panel">
                        <div class="x_content">
                          <table class="table table-striped" id='tabela'>
                            <thead>
                              <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Morada</th>
                                <th>telemovel</th>
                                <th>NIF</th>
                                <th>Cartão de Cidadão</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <% for (var c of clientes ) { %>
                                <tr>
                                  <td><a href="/clientes/<%= c.idclientes %>"><%= c.nome %></a></td>
                                  <td><%= c.email %></td>
                                  <td><%= c.morada %></td>
                                  <td><%= c.telemovel %></td>
                                  <td><%= c.nif %></td>
                                  <td><%= c.cc %></td>
                                </tr>
                                <%} %>
                            </tbody>
                          </table>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- /# row -->
        </section>
    </div>
</div>
</div>



<% include partials/footer %>